<!DOCTYPE html>
<html>
<head>
  <title>API Data Example</title>
</head>
<body>
  <h1>API Data</h1>
  <ul>
    {{#data}}
    <li>Name: {{author_name}}, Age: {{author_email}}</li>
    {{/data}}
  </ul>
</body>
</html>
